<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
    <link rel="stylesheet" href="../../styles/common.css" />
    <link rel="stylesheet" href="../../styles/page.css" />
    <script src="../../api/login.js"></script>
</head>
<body>
<div class="dashboard-container" id="label-app">
    <div class="container">
        <div
                class="tableBar"
                style="display: inline-block"
        >
            <el-button
                    type="primary"
                    @click="addLabel()"
            >
                + 新增标签
            </el-button>
        </div>

        <!-- 表 -->
        <el-table
                :data="tableData"
                stripe
                class="tableBox"
        >
            <el-table-column
                    prop="labelId"
                    label="标签ID"
            /></el-table-column>
            <el-table-column
                    prop="labelName"
                    label="标签名称"
            /></el-table-column>
            <el-table-column
                    prop="labelColor"
                    label="标签颜色"
            >
                <template slot-scope="scope">
                    <div>
                        <input type="color" :value="scope.row.labelColor" disabled>
                    </div>
                </template>
            </el-table-column>
            <el-table-column
                    label="操作"
                    width="160"
                    align="center"
            >
                <template slot-scope="scope">
                    <el-button
                            type="text"
                            size="small"
                            class="blueBug"
                            @click="editHandle(scope.row)"
                    >
                        修改
                    </el-button>
                    <el-button
                            type="text"
                            size="small"
                            class="delBut non"
                            @click="deleteHandle(scope.row.labelId)"
                    >
                        删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                class="pageList"
                :page-sizes="[10, 20, 30, 40]"
                :page-size="pageSize"
                layout="sizes, prev, pager, next, jumper"
                :total="counts"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
        ></el-pagination>
    </div>

    <!-- 增加、修改的弹窗-->
    <el-dialog
            :title="labelData.title"
            :visible.sync="labelData.dialogVisible"
            width="30%"
            :before-close="handleClose"
    >
        <el-form
                class="demo-form-inline"
                label-width="100px"
        >
            <el-form-item label="标签名称：">
                <el-input v-model="labelData.labelName" placeholder="请输入标签名称" maxlength="14" />
            </el-form-item>
            <el-form-item label="标签颜色：">
                <el-color-picker v-model="labelData.labelColor"/>
            </el-form-item>
        </el-form>
        <span
                slot="footer"
                class="dialog-footer"
        >
            <el-button
                    size="medium"
                    @click="labelData.dialogVisible = false"
            >取 消</el-button>
            <el-button
                    type="primary"
                    size="medium"
                    @click="submitForm()"
            >确 定</el-button>
            <el-button
                    v-if="action != 'edit'"
                    type="primary"
                    size="medium"
                    class="continue"
                    @click="submitForm('go')"
            > 保存并继续添加 </el-button>
        </span>
    </el-dialog>
</div>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../api/label.js"></script>
<script>
    new Vue({
        el: '#label-app',
        data() {
            return {
                action: '',
                counts: 0,
                page: 1,
                pageSize: 10,
                tableData: [],
                labelData: {
                    'title': '添加标签',
                    'dialogVisible': false,
                    'labelId': '',
                    'labelName': '',
                    'labelColor': ''
                }
            }
        },
        computed: {},
        created() {
            this.init()
        },
        mounted() {
        },
        methods: {
            async init () {
                await getLabel({'page': this.page, 'pageSize': this.pageSize}).then(res => {
                    if (String(res.code) === '1') {
                        this.tableData = res.data.content
                        this.counts = Number(res.data.totalPages) * this.pageSize
                    } else {
                        this.$message.error(res.msg || '操作失败')
                    }
                }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                })
            },
            handleQuery() {
                this.page = 1;
                this.init();
            },
            // 添加
            addLabel() {
                this.action = 'add'
                this.labelData.title = '添加标签'
                this.labelData.labelName = ''
                this.labelData.labelColor = ''
                this.labelData.dialogVisible = true
            },
            editHandle(dat) {
                this.action = 'edit'
                this.labelData.title = '修改标签'
                this.labelData.labelName = dat.labelName
                this.labelData.labelId = dat.labelId
                this.labelData.labelColor = dat.labelColor
                this.labelData.dialogVisible = true
            },
            // 关闭弹窗
            handleClose(st) {
                this.labelData.dialogVisible = false
            },
            //删除
            deleteHandle(id) {
                this.$confirm('此操作将永久删除该标签, 是否继续?', '提示', {
                    'confirmButtonText': '确定',
                    'cancelButtonText': '取消',
                    'type': 'warning'
                }).then(() => {
                    deleLabel(id).then(res => {
                        if (res.code === 1) {
                            this.$message.success('删除成功！')
                            this.handleQuery()
                        } else {
                            this.$message.error(res.msg || '操作失败')
                        }
                    }).catch(err => {
                        this.$message.error('请求出错了：' + err)
                    })
                })
            },
            //数据提交
            submitForm(st) {
                const labelData = this.labelData
                const valid = (labelData.labelName === 0 ||labelData.labelName)
                    && (labelData.labelColor === 0 || labelData.labelColor)
                if (this.action === 'add') { // 添加
                    if (valid) {
                        // const reg = /^\d+$/
                        // if (reg.test(labelData.sort)) {
                        console.log(this.labelData)
                        addLabel({'labelName': labelData.labelName,
                            'labelColor': labelData.labelColor
                        }).then(res => {
                            console.log(res)
                            if (res.code === 1) {
                                this.$message.success('标签添加成功！')
                                if (!st) {
                                    this.labelData.dialogVisible = false
                                } else {
                                    this.labelData.name = ''
                                    this.labelData.labelId = ''
                                    this.labelData.labelColor = ''
                                }
                                this.handleQuery()
                            } else {
                                this.$message.error(res.msg || '操作失败')
                            }
                        }).catch(err => {
                            this.$message.error('请求出错了：' + err)
                        })
                    } else {
                        this.$message.error('请输入标签信息')
                    }
                } else if (valid) {
                    console.log(this.labelData)
                    editLabel({'labelId': labelData.labelId,
                        'labelName': labelData.labelName,
                        'labelColor': labelData.labelColor
                    }).then(res => {
                        if (res.code === 1) {
                            this.$message.success('标签修改成功！')
                            this.labelData.dialogVisible = false
                            this.handleQuery()
                        } else {
                            this.$message.error(res.msg || '操作失败')
                        }
                    }).catch(err => {
                        this.$message.error('请求出错了：' + err)
                    })
                } else {
                    this.$message.error('请输入标签信息')
                }
            },
            handleSizeChange (val) {
                this.pageSize = val
                this.init()
            },
            handleCurrentChange (val) {
                this.page = val
                this.init()
            }
        }
    })
</script>
</body>
</html>